<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fink - Hem</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1 class="logo-text">Fink 🐦‍⬛</h1>

<div class="container">

    <a href="/new" class="button-link">Nytt inlägg</a>

    <div class="list-container">
        <h3>Tidigare sedda</h3>

        <div th:each="post : ${posts}" class="post-card">
            <b th:text="${post.species}"></b><br>
            <span th:text="${post.location}"></span><br>
            <small th:text="${post.createdAt}"></small>
        </div>

    </div>

</div>

</body>
</html>