<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fink - Välkommen</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1 class="logo-text">Fink 🐦‍⬛</h1>

<div class="container">

    <form action="/login" method="post" class="form-container">
        <label for="username">Användarnamn:</label>
        <input id="username" type="text" name="username" required>

        <label for="password">Lösenord:</label>
        <input id="password" type="password" name="password" required>

        <button type="submit">Logga in</button>
    </form>

    <a href="/register" class="button-link">Registrera konto</a>

</div>

</body>
</html>