<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/style.css">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fink</title>
</head>
<body>
    <h1>Fink 🐦‍⬛</h1>
    <a href="/new"><button class="new-post-btn">Nytt inlägg</button>
    <div>
        <br>
        <h3>Tidigare sedda</h3>
    </div>
    <div th:each="post : ${posts}" class="card">
        <b th:text="${post.species}"></b>
        <span th:text="${post.location}">-</span>
        <small th:text="${post.createdAt}"></small>
    </div>
</body>
</html>